@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5">
                <a href="images/menu-2.jpg" class="image-popup"><img src="https://hieutao.com/public/customer/images/gioi-thieu.png" alt="Colorlib Template" class="img-fluid" /></a>
            </div>
            <div class="col-lg-6 product-details pl-md-5">
                <h1>Giới Thiệu</h1>
                <p class="price"><span>Thông tin về chúng tôi</span></p>
                <p>Website của chúng tôi chuyên bán về sản phẩm của "Hiếu Táo".</p>
                <p>
                    Rất nhiều người thường cho rằng, trong kinh doanh chất lượng sản phẩm, mẫu mã hay đáp ứng theo xu hướng của thị trường mới là những yếu tố quyết định tất cả đến khả năng bán hàng. Nhưng quan điểm này cũng chưa thật sự
                    đúng hoàn toàn, không phủ nhận để khách hàng lựa chọn sản phẩm của bạn thì chúng phải đủ tốt, mẫu mã phải đẹp và đáp ứng cho nhu cầu tiêu dùng cần thiết của thị trường. Thế nhưng, hãy luôn nhớ rằng không chỉ có một mình
                    bạn bán mặt hàng này và đương nhiêu vẫn có rất nhiều đối thủ sẵn sàng cung cấp những chính sách mua sắm tốt hơn bạn.
                </p>
                <p>
                    Ngoài tìm ra những thế mạnh riêng biệt của mình, đương nhiên việc đầu tư cho những lời giới thiệu hay, những câu nói bán hàng chất lượng là điều chắc chắn không thể bỏ qua. Ngày nay, việc xuất hiện quá nhiều các thông
                    tin quảng cáo sản phẩm, khiến người tiêu dùng đôi khi cảm thấy khó chịu, phiền phức. Hơn thế các thông tin quảng cáo sản phẩm cũng sẽ bị bỏ qua một cách nhanh chóng. Chính vì vậy, giá trị của những lời giới thiệu hay khi
                    bán hàng cũng theo đó gia tăng và rất đặc biệt.
                </p>
            </div>
        </div>
    </div>
</section>


