@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync("SidersComponent")
@*
@await Component.InvokeAsync("SidersComponent")

<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 py-5 wrap-about pb-md-5 ">
                <div class="heading-section-bold mb-4 mt-md-5">
                    <div class="ml-md-0">
                        <h2 class="mb-4" style="text-align: center;">TẬN TÂM TRONG TỪNG SẢN PHẨM</h2>
                        <h3 class="mb-4" style="text-align: center;">CÁC DỊCH VỤ CHỈ CÓ BÊN HIẾU T<i class="icon icon-apple"></i>O !</h3>
                    </div>
                </div>
                <div class="pb-md-5">
                    <div class="cards-service ftco-services">
                        <div class="text-center d-flex align-self-stretch card" style="border: 2px solid rgb(222, 226, 230); margin-left: 10px; margin-right: 10px; padding: 5px;">
                            <div class="media block-6 services">
                                <div class="icon d-flex justify-content-center align-items-center mb-4">
                                    <div style="height: 80px; width: 80px; background-color: rgba(255, 76, 76, 0.1); margin-top: 20px; border-radius: 20px; display: flex; align-items: center;"><span class="icon icon-exchange" style="color: rgb(255, 76, 76); font-size: 50px;"></span></div>
                                </div>
                                <div class="media-body">
                                    <h3 class="heading"><b>Thu Cũ Đổi Mới</b></h3>
                                    <p>Dịch vụ thu cũ đổi mới hiện đang chỉ áp dụng đối với các sản phẩm đến từ Apple.</p>
                                </div>
                            </div>
                        </div>
                        <div class="text-center d-flex align-self-stretch card" style="border: 2px solid rgb(222, 226, 230); margin-left: 10px; margin-right: 10px; padding: 5px;">
                            <div class="media block-6 services">
                                <div class="icon d-flex justify-content-center align-items-center mb-4">
                                    <div style="height: 80px; width: 80px; background-color: rgba(0, 153, 229, 0.1); margin-top: 20px; border-radius: 20px; display: flex; align-items: center;"><span class="icon icon-mobile-phone" style="color: rgb(0, 153, 229); font-size: 50px;"></span></div>
                                </div>
                                <div class="media-body">
                                    <h3 class="heading"><b>Thay Màn Hình</b></h3>
                                    <p>Dịch vụ thay màn hình, ép kính cho tất cả các dòng điện thoại hiện nay.</p>
                                </div>
                            </div>
                        </div>
                        <div class="text-center d-flex align-self-stretch card" style="border: 2px solid rgb(222, 226, 230); margin-left: 10px; margin-right: 10px; padding: 5px;">
                            <div class="media block-6 services">
                                <div class="icon d-flex justify-content-center align-items-center mb-4">
                                    <div style="height: 80px; width: 80px; background-color: rgba(255, 221, 0, 0.1); margin-top: 20px; border-radius: 20px; display: flex; align-items: center;"><span class="icon icon-hdd-o" style="color: rgb(255, 221, 0); font-size: 50px;"></span></div>
                                </div>
                                <div class="media-body">
                                    <h3 class="heading"><b>Phụ Kiện Theo Máy</b></h3>
                                    <p>Chuyên bán các phụ kiện đi kèm theo máy hiện nay: Case airPod, ốp lưng,...</p>
                                </div>
                            </div>
                        </div>
                        <div class="text-center d-flex align-self-stretch card" style="border: 2px solid rgb(222, 226, 230); margin-left: 10px; margin-right: 10px; padding: 5px;">
                            <div class="media block-6 services">
                                <div class="icon d-flex justify-content-center align-items-center mb-4">
                                    <div style="height: 80px; width: 80px; background-color: rgba(10, 191, 83, 0.1); margin-top: 20px; border-radius: 20px; display: flex; align-items: center;"><span class="icon icon-gear" style="color: rgb(10, 191, 83); font-size: 50px;"></span></div>
                                </div>
                                <div class="media-body">
                                    <h3 class="heading"><b>Sửa chữa &amp; Bảo Hành</b></h3>
                                    <p>Kiểm tra tình trạng điện thoại, sửa chữa, bảo hành khi mua các sản phẩm.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@await Component.InvokeAsync("ProductAllComponent", new {differentiate = 0})



<div data-v-52f78a14="">
    <section data-v-52f78a14="" class="ftco-section ftco-choose ftco-no-pb ftco-no-pt bg-light">
        <div data-v-52f78a14="" class="container">
            <div data-v-52f78a14="" class="row">
                <div data-v-52f78a14="" class="col-md-8 d-flex align-items-stretch"><img data-v-52f78a14="" src="/web/275463435_284222247191559_6329327769420854926_n.jpg" class="img"></div>
                <div data-v-52f78a14="" class="col-md-4 py-md-5">
                    <div data-v-52f78a14="" class="text py-3 py-md-5" style="background-color: rgb(255, 255, 255); border-radius: 40px; padding: 3vw; opacity: 0.9;">
                        <h2 data-v-52f78a14="" class="mb-4"><b data-v-52f78a14="">Apple iPhone 13</b></h2>
                        <p data-v-52f78a14="">
                            Thiết kế các nút bấm trên cả hai mẫu điện thoại không có nhiều khác biệt với nút gạt rung, tăng giảm âm lượng bên cạnh trái. Vị trí jack cắm tai nghe, loa ngoài cũng không có nhiều khác biệt.
                        </p>
                        <p data-v-52f78a14=""><a data-v-52f78a14="" href="/chi-tiet-san-pham/18" class="btn btn-white px-4 py-3" style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);">Mua ngay</a></p>
                    </div>
                </div>
            </div>

             <div data-v-52f78a14="" class="row">
                <div data-v-52f78a14="" class="col-md-5 order-md-last d-flex align-items-stretch"><img data-v-52f78a14="" src="public/images/product/product_avatarcdc0d6e63aa8e41c89689f54970bb35f62a30616a5e06.png" alt="" class="img img-2"></div>
                <div data-v-52f78a14="" class="col-md-7 py-3 py-md-5">
                    <div data-v-52f78a14="" class="text text-2 py-md-5">
                        <h2 data-v-52f78a14="" class="mb-4">Macbook M2 2022</h2>
                        <p data-v-52f78a14="">
                            Apple đã thúc đẩy phạm vi hiệu năng xử lý và độ mỏng nhẹ máy tính xách tay của mình vào năm 2020 bằng cách giới thiệu MacBook Air M1
                        </p>
                        <p data-v-52f78a14=""><a data-v-52f78a14="" href="/chi-tiet-san-pham/32" class="btn btn-white px-4 py-3" style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);">Mua ngay</a></p>
                    </div>
                </div>
            </div>


        </div>
    </section>
</div>
@await Component.InvokeAsync("SellingProductsComponent")
@await Component.InvokeAsync("AdvertisementComponent")
@await Component.InvokeAsync("ReviewSidersComponent")

               
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function() {

            $("#CartsModalIndex").modal("show");

             $('.home-slider-reviews').owlCarousel({
                loop: true,
                autoplay: true,
                margin: 0,
                
                 autoplayTimeout: 5000,
                 autoplaySpeed: 4000,
                nav: false,
                items: 4,
                navText: false,
                dots: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 1
                    },
                    1000: {
                        items: 4
                    }
                }
            });
        })
     
     
    </script>
}*@